Options +FollowSymlinks


RewriteEngine On
RewriteBase /

# HTTP TO HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# ERRORS
ErrorDocument 400 /pages/errors.php?error=400
ErrorDocument 401 /pages/errors.php?error=401
ErrorDocument 403 /pages/errors.php?error=403
ErrorDocument 404 /pages/errors.php?error=404
ErrorDocument 500 /pages/errors.php?error=500
ErrorDocument 502 /pages/errors.php?error=502
ErrorDocument 503 /pages/errors.php?error=503
ErrorDocument 504 /pages/errors.php?error=504

# HOMEPAGE - PRESENTATION
RewriteRule ^/$ index.php
RewriteRule ^index\.html$ index.php
RewriteRule ^home$ index.php
RewriteRule ^accueil$ index.php
RewriteRule ^presentation$ index.php

# EXPERIENCES
RewriteRule ^experiences$ pages/experiences.php
RewriteRule ^experiences.html$ pages/experiences.php
RewriteRule ^pages/experiences.html$ pages/experiences.php

# SKILLS
RewriteRule ^competences$ pages/skills.php
RewriteRule ^competences.html$ pages/skills.php
RewriteRule ^/pages/competences.html$ pages/skills.php

# PROJECTS
RewriteRule ^projets$ pages/projects.php
RewriteRule ^projets.html$ pages/projects.php
RewriteRule ^pages/projets.html$ pages/projects.php

# CONTACT
RewriteRule ^contact$ pages/contact.php
RewriteRule ^contact.html$ pages/contact.php
RewriteRule ^pages/contact.html$ pages/contact.php

# LEGAL NOTICES
RewriteRule ^mentions-legales$ pages/legal-notices.php
RewriteRule ^mentions-legales.html$ pages/legal-notices.php
RewriteRule ^pages/mentions-legales.html$ pages/legal-notices.php

# SITEMAP
RewriteRule ^plan-du-site$ pages/sitemap.php
RewriteRule ^plan-du-site.html$ pages/sitemap.php
RewriteRule ^pages/plan-du-site.html$ pages/sitemap.php [L]



# ZIP FILES
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/xml
    AddOutputFilterByType DEFLATE text/shtml
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE application/xml
    AddOutputFilterByType DEFLATE application/xhtml+xml
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE application/x-javascript
    AddOutputFilterByType DEFLATE image/svg+xml
    AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
    AddOutputFilterByType DEFLATE font/ttf
    AddOutputFilterByType DEFLATE font/woff
    AddOutputFilterByType DEFLATE font/woff2
</IfModule>


# CACHING FILES
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault 'access plus 1 day'
    ExpiresByType image/jpg 'access plus 1 year'
    ExpiresByType image/jpeg 'access plus 1 year'
    ExpiresByType image/png 'access plus 1 year'
    ExpiresByType image/gif 'access plus 1 year'
    ExpiresByType image/ico 'access plus 1 year'
    ExpiresByType image/icon 'access plus 1 year'
    ExpiresByType image/svg+xml 'access plus 1 year'
    ExpiresByType text/html 'access plus 2 hours'
    ExpiresByType application/xhtml+xml 'access plus 2 hours'
    ExpiresByType text/css 'access plus 1 week'
    ExpiresByType text/javascript 'access plus 2 hours'
    ExpiresByType application/javascript 'access plus 2 hours'
    ExpiresByType application/x-javascript 'access plus 2 hours'
    ExpiresByType application/vnd.ms-fontobject 'access plus 1 year'
    ExpiresByType font/ttf 'access plus 1 year'
    ExpiresByType font/woff 'access plus 1 year'
    ExpiresByType font/woff2 'access plus 1 year'
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch '\.(ico|jpe?g|png|gif|svg|eot|ttf|woff|woff2)$'>
        Header set Cache-Control 'max-age=31536000, public'
    </FilesMatch>
    <FilesMatch '\.(css)$'>
        Header set Cache-Control 'max-age=604800, public'
    </FilesMatch>
    <FilesMatch '\.(js)$'>
        Header set Cache-Control 'max-age=7200, private'
    </FilesMatch>
</IfModule>