Options +FollowSymlinks


RewriteEngine On
RewriteBase /

# HTTP TO HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# ERRORS
ErrorDocument 400 /pages/errors.php?error=400
ErrorDocument 401 /pages/errors.php?error=401
ErrorDocument 403 /pages/errors.php?error=403
ErrorDocument 404 /pages/errors.php?error=404
ErrorDocument 500 /pages/errors.php?error=500
ErrorDocument 502 /pages/errors.php?error=502
ErrorDocument 503 /pages/errors.php?error=503
ErrorDocument 504 /pages/errors.php?error=504

# HOMEPAGE - PRESENTATION
RewriteRule ^/$ index.php
RewriteRule ^index\.html$ index.php
RewriteRule ^home$ index.php
RewriteRule ^accueil$ index.php
RewriteRule ^presentation$ index.php

# EXPERIENCES
RewriteRule ^experiences$ pages/experiences.php
RewriteRule ^experiences.html$ pages/experiences.php
RewriteRule ^pages/experiences.html$ pages/experiences.php

# SKILLS
RewriteRule ^competences$ pages/skills.php
RewriteRule ^competences.html$ pages/skills.php
RewriteRule ^/pages/competences.html$ pages/skills.php

# PROJECTS
RewriteRule ^projets$ pages/projects.php
RewriteRule ^projets.html$ pages/projects.php
RewriteRule ^pages/projets.html$ pages/projects.php

# CONTACT
RewriteRule ^contact$ pages/contact.php
RewriteRule ^contact.html$ pages/contact.php
RewriteRule ^pages/contact.html$ pages/contact.php [L]
