@use '../tools/display' as *;


.contact {

    &__infos {
        @include flex($direction:column, $align:center);
        margin: 0 -50px 0 0;
        padding-left: 50px;
        border-left: solid 5px var(--second-color);
    }
}