$main-color: rgb(101, 179, 46);
$second-color: rgba(101, 179, 46, 0.25);

$white: rgb(255, 255, 255);
$black: rgb(51, 51, 51);
$gray: rgb(200, 200, 200);
$light-gray: rgb(240, 240, 240);

$correct: rgb(41, 208, 105);
$incorrect: rgb(255, 0, 0);


$colors: (
    lightgreen: rgb(101, 153, 46),
    green: rgb(0, 116, 0),
    lightblue: rgb(8, 178, 227),
    blue: rgb(30, 60, 113),
    brown: rgb(118, 66, 72),
    orange: rgb(237, 93, 49),
    yellow: rgb(253, 186, 53),
    purple: rgb(190, 130, 185)
);