@use 'sass:map';
@use '../settings/colors' as *;
@use '../settings/borders' as *;
@use '../tools/display' as *;
@use '../tools/media-query' as *;


.box {
    width: 90vw;
    max-width: 1400px;
    margin: 5vw auto;
    padding: 15px 6%;
    color: $black;
    background-color: $light-gray;
    border-left: map.get($borders, 'xlarge') solid var(--main-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    @include media('>tablet') {
        padding: 15px 5%;
    }

    &__wrapper {
        @include flex($direction:column, $justify:center, $align:center);
        margin-top: 20px;
        @include media('>tablet') {
            @include flex($flex:'', $direction:row);
        }
        &--thirds {
            margin-top: 0;
            @include media('>tablet') {
                @include flex($flex:'', $justify:space-between);
                > *:first-child {
                    align-self: start;
                    width: 30%;
                }
                > *:last-child {
                    width: 60%;
                }
            }
        }
        &--middle {
            @include media('>tablet') {
                @include flex($flex:'', $justify:space-between);
                > *:first-child {
                    width: 45%;
                }
                > *:last-child {
                    width: 45%;
                }
            }
        }
        &--between {
            @include flex($flex:'', $justify:space-between);
        }
        &--columns {
            @include flex($flex:'', $direction:column, $align:flex-start);
        }
        &--full-height {
            @include flex($flex:'', $align:stretch);
        }
    }

    &__title {
        margin-bottom: 0;
        text-align: center;
        font-size: 1.8em;
        &--left {
            text-align: left;
        }
    }

    &__subtitle {
        margin-top: 0;
        text-align: center;
        font-size: 1.2em;
    }

    &__text {
        text-align: center;
        &--small {
            @include media('>tablet') {
                width: 350px;
            }
        }
        &--link {
            display: block;
            margin: 10px 0;
            color: inherit;
            text-decoration: none;
        }
    }

    &__link {
        color: inherit;
    }

    &__image {
        width: 150px;
        height: 150px;
        margin: 20px 0;
        border:  map.get($borders, 'medium') solid var(--main-color);
        border-radius: 50%;
        source, img {
            width: 100%;
            border-radius: 50%;
        }
    }
}