@use 'sass:map';
@use '../settings/colors' as *;
@use '../settings/borders' as *;
@use '../tools/display' as *;
@use '../tools/shadow' as *;


.button {
    @include flex($flex:inline-flex, $justify:space-between, $align:center);
    margin: 10px;
    padding: 5px 15px;
    color: $black;
    background-color: $white;
    border: map.get($borders, 'small') solid var(--main-color);
    border-radius: 5px;
    @include shadow(small);
    cursor: pointer;
    &--center {
        display: block;
        width: 120px;
        margin: 10px auto;
        padding: 3px 10px;
    }

    &__icon {
        width: 20px;
        height: auto;
    }
}