@use 'sass:map';
@use '../settings/colors' as *;
@use '../settings/borders' as *;
@use '../tools/display' as *;
@use '../tools/media-query' as *;


.embed-box {
    position: relative;
    width: 75vw;
    padding: 20px;
    background-color: $white;
    border: map.get($borders, 'xsmall') solid var(--main-color);
    border-left-width: 5px;
    border-radius: 5px;
    @include media('>tablet') {
        width: 60%;
        margin-left: auto;
    }
    &--large {
        width: 75vw;
        @include media('>tablet') {
            width: 80%;
        }
    }

    &__wrapper {
        position: relative;
        @include flex($direction:column, $justify:center, $align:center);
        @include media('>tablet') {
            @include flex($flex:'', $direction:row, $justify:space-between);
            min-height: 120px;
        }
    }

    &__title {
        margin: 0;
        font-size: 1.1em;
    }

    &__text {
        margin: 0 0 0 15px;
        font-size: 0.8em;
    }

    &__details {
        @include media('>tablet') {
            width: 80%;
        }
    }

    &__toggle {
        position: absolute;
        right: 5px;
        bottom: 5px;
        cursor: pointer;
        width: 20px;
        height: 20px;
        svg {
            fill: var(--main-color);
        }
    }
}