@use 'variables' as *;

.experiences {
    height: calc(100vh - 87px);
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--title {
            margin-bottom: 0;
            text-align: center;
            font-size: 1.8em;
        }
        &--date {
            margin-top: 0;
            text-align: center;
            font-size: 1.2em;
        }
        &--description {
            text-align: center;
        }
    }
}

.experience {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__date {
        &--before {
            width: 7px;
            height: 25px;
            background-color: $second-color;
        }
        &--item {

        }
        &--after {
            width: 7px;
            height: calc(100% - 95px);
            background-color: $second-color;
        }
    }
    &__date {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        &--before, &--after {
            width: 7px;
            height: 25px;
            background-color: $second-color;
        }
        &--item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 70px;
            border: solid 3px $main-color;
            border-radius: 50%;
            background-color: $white;
        }
    }
    &__title {
        margin: 0;
        font-size: 1.1em;
    }
    &__caracteristics {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        &--duration, &--location {
            margin: 0;
            font-size: 0.8em;
            img {
                width: 20px;
                height: auto;
            }
        }
    }
    &__image {
        width: 80px;
        height: auto;
    }
    &__details {
        &--title {
            margin: 20px 0 0 0;
            font-size: 0.9em;
        }
        &--content {
            margin: 0 0 0 15px;
            font-size: 0.8em;
        }
    }
}


@media (min-width: 992px) {
    .experiences {
        &__box {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            > div:first-child {
                align-self: start;
                width: 30%;
            }
            > div:last-child {
                width: 60%;
            }
        }
    }

    .experience {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        min-height: 120px;
        &__date {
            &--item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70px;
                height: 70px;
                border: solid 3px $main-color;
                border-radius: 50%;
                background-color: $white;
            }
            &--after {
                height: calc(100% - 95px);
            }
        }
        &__caracteristics {
            width: 80%;
        }
        &__details {
            width: 80%;
        }
    }
    .experience--empty {
        align-items: center;
    }

    .embed-box {
        margin-left: auto;
    }
}