@use 'variables' as *;

//////////////////////////////////
// ********** HEADER ********** //
//////////////////////////////////

footer {
    min-height: 90px;
    margin-top: 20px;
    background-color: $light-gray;
    box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, 0.125);
}

.footer {
    width: 100%;
    padding: 5px 10px;
    &__copyrights {
        font-size: 0.8em;
        text-align: center;
    }
    &__logo {
        display: none;
    }
    &__links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &--item {
            color: $black;
            font-size: 0.8em;
        }
    }
    &__version {
        margin: 0 auto 5px auto;
        color: var(--main-color);
        font-size: 0.65em;
        text-align: right;
    }
}


@media (min-width: 992px) {
    .footer {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &__copyrights, &__links {
            max-width: 120px;
        }
        &__logo {
            display: block;
            img {
                width: 60px;
                height: auto;
            }
        }
        &__version {
            position: absolute;
            bottom: 5px;
            right: 10px;
        }
    }
}