@use '../settings/colors' as *;
@use '../tools/display' as *;
@use '../tools/media-query' as *;


footer {
    min-height: 90px;
    margin-top: 20px;
    background-color: $light-gray;
    box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, 0.125);
}

.footer {
    width: 100%;
    padding: 5px 10px;
    @include media('>tablet') {
        position: relative;
        @include flex($justify:space-around, $align:center);
    }

    &__copyrights {
        font-size: 0.8em;
        text-align: center;
        @include media('>tablet') {
            max-width: 120px;
        }
    }

    &__logo {
        display: none;
        @include media('>tablet') {
            display: block;
        }

        img {
            width: 60px;
            height: auto;
        }
    }

    &__links {
        @include flex($direction:column, $justify:space-between, $align:center);
        @include media('>tablet') {
            max-width: 120px;
        }
    }

    &__link {
        color: $black;
        font-size: 0.8em;
    }

    &__version {
        margin: 0 auto 5px auto;
        color: var(--main-color);
        font-size: 0.65em;
        text-align: right;
        @include media('>tablet') {
            position: absolute;
            bottom: 5px;
            right: 10px;
        }
    }
}