@use 'variables' as *;
@use 'mixins' as *;

:root {
    --main-color: #{$main-color};
    --second-color: #{$second-color};
}

////////////////////////////////////
// ********** GENERALS ********** //
////////////////////////////////////

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $main-font;
    &::after {
        content: '';
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('../../assets/images/texture.webp');
        opacity: 0.7;
        z-index: -1;
    }
}

body.no-webp {
    background-image: url('../../assets/images/texture.jpg');
}

a,
a:hover,
a:focus,
a:active,
a:visited {
    text-decoration: none;
}

.hide {
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    overflow: hidden !important;
}

.rotate180 {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

@media (max-width: 992px) {
    .mobile-hide {
        display: none;
    }
}

.separator {
    display: block;
    width: 50%;
    height: 5px;
    margin: 0 auto;
    background-color: var(--main-color);
}

.separator--vertical {
    display: inline-block;
    width: 2px;
    height: 25px;
    margin: 0 2px -5px 2px;
    background-color: var(--main-color);
}

.title {
    width: 100%;
    margin: 50px 0;
    padding: 10px 0;
    background-color: var(--main-color);
    color: $white;
    font-size: 1.5em;
    text-align: center;
}

.box {
    width: 90vw;
    max-width: 1400px;
    margin: 5vw auto;
    padding: 15px 15%;
    background-color: $light-gray;
    border-left: solid 7px var(--main-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.embed-box {
    position: relative;
    width: 75vw;
    padding: 20px;
    background-color: $white;
    border: solid 1px var(--main-color);
    border-left-width: 5px;
    border-radius: 5px;
}

.embed-box-toggle {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 250px;
    height: 250px;
    margin: 15px;
}

.label {
    display: inline-block;
    margin-top: 5px;
    padding: 3px 10px;
    background-color: $white;
    border: solid 2px var(--main-color);
    border-radius: 5px;
    &-toggle {
        cursor: pointer;
    }
}

.button {
    display: inline-block;
    margin-top: 5px;
    padding: 3px 10px;
    background-color: $white;
    border: solid 2px var(--main-color);
    border-radius: 5px;
    cursor: pointer;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

input.input--success {
    border: solid 2px $correct !important;
    background-image: url('../../assets/images/icons/correct.svg');
    background-size: 5%;
    background-position: 95% 50%;
    background-repeat: no-repeat;
}

input.input--error {
    border: solid 2px $incorrect !important;
    background-image: url('../../assets/images/icons/incorrect.svg');
    background-size: 5%;
    background-position: 95% 50%;
    background-repeat: no-repeat;
}

textarea.input--success {
    border: solid 2px $correct !important;
}

textarea.input--error {
    border: solid 2px $incorrect !important;
}

.visible {
    opacity: 1 !important;
    transition: all 1s;
}

@media (min-width: 600px) {
    .box {
        padding: 15px 20%;
    }
}


@media (min-width: 992px) {
    .box {
        padding: 15px 5%;
    }

    .embed-box {
        width: 80%;
    }

    .card__container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 90vw;
        max-width: 1400vw;
        margin: 5vw auto;
    }

    .card {
        margin: 5vw;
    }

    .input--success, .input--error {
        background-size: 5%;
        background-position: 98% 50%;
    }
}




//////////////////////////////////
// ********** COLORS ********** //
//////////////////////////////////
@each $name, $hex in $colors {
    .#{$name}-bg {
        background-color: $hex;
    }
}



////////////////////////////////////////
// ********** MIXINS CALLS ********** //
////////////////////////////////////////
$directions: (top, right, bottom, left);

@each $direction in $directions {
    @for $i from 0 through 20 {
        $i: $i * 5;
        $j: 100 - $i;

        .progress-bar-#{$direction}-#{$i} {
            @include linearGradient($direction, var(--main-color), $i, var(--second-color), $j);
        }
    }
}