@use 'sass:map';
@use '../settings/colors' as *;
@use '../settings/borders' as *;


header {
    position: relative;
    height: #{80 + map.get($borders, 'xlarge')};
}

.header {
    position: fixed;
    top: map.get($borders, 'xlarge');
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
    height: 80px;
    z-index: 5;
    &::before {
        content: '';
        position: absolute;
        top: -#{map.get($borders, 'xlarge')};
        display: inline-block;
        width: 100%;
        height: map.get($borders, 'xlarge');
        background-color: var(--main-color);
    }

    &__left {
        position: relative;
        height: 80px;
        background-color: $light-gray;
    }

    &__right {
        position: absolute;
        top: 80px;
        width: 100%;
        margin: 0;
        padding: 50px 0 0 0;
        background-color: $light-gray;
        z-index: 1;
    }

    &__logo {
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translate(-50%, 0);
        display: block;
        height: 100%;
        z-index: 2;

        img {
            width: 100%;
            height: 100%;
        }
    }
}


@media (min-width: 992px) {
    .header {
        flex-direction: row;

        &__left {
            width: 20%;
        }

        &__right {
            position: relative;
            top: 0;
            display: flex;
            justify-content: flex-end;
            width: 80%;
            padding-top: 0;
        }
    }
}