@use 'sass:map';
@use '../settings/colors' as *;
@use '../settings/borders' as *;
@use '../tools/display' as *;
@use '../tools/media-query' as *;


header {
    position: relative;
    height: #{80 + map.get($borders, 'xlarge')};
}

.header {
    position: fixed;
    top: map.get($borders, 'xlarge');
    @include flex($direction:column, $justify:stretch);
    width: 100%;
    height: 80px;
    z-index: 5;
    @include media('>tablet') {
        @include flex($flex:'', $direction:row);
    }
    &::before {
        content: '';
        position: absolute;
        top: -#{map.get($borders, 'xlarge')};
        display: inline-block;
        width: 100%;
        height: map.get($borders, 'xlarge');
        background-color: var(--main-color);
    }

    &__left {
        position: relative;
        height: 80px;
        background-color: $light-gray;
        @include media('>tablet') {
            width: 20%;
        }
    }

    &__right {
        position: absolute;
        top: 80px;
        width: 100%;
        margin: 0;
        padding: 50px 0 0 0;
        background-color: $light-gray;
        z-index: 1;
        @include media('>tablet') {
            position: relative;
            top: 0;
            @include flex($justify:flex-end);
            width: 80%;
            padding-top: 0;
        }
    }

    &__logo {
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translate(-50%, 0);
        display: block;
        height: 100%;
        z-index: 2;

        img {
            width: 100%;
            height: 100%;
        }
    }
}