@use 'sass:map';
@use '../settings/colors' as *;
@use '../settings/borders' as *;
@use '../tools/display' as *;
@use '../tools/media-query' as *;


.menu {

    &__toggle {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 40px;
        height: 60px;
        padding: 40px 0 0 0;
        font-size: 0.9em;
        text-transform: uppercase;
        border: none;
        background-image: url('../../assets/images/icons/menu.svg');
        background-repeat: no-repeat;
        cursor: pointer;
        @include media('>tablet') {
            display: none;
        }
    }

    &__item {
        padding: 10px 0;
        border-left: map.get($borders, 'large') solid transparent;
        font-size: 1.2em;
        font-weight: bold;
        text-transform: uppercase;
        list-style-type: none;
        @include media('>tablet') {
            border-bottom: map.get($borders, 'large') solid transparent;
            border-left: none;
        }
        &:hover {
            background-color: var(--second-color);
        }
        &--active {
            border-color: var(--main-color);
        }
    }

    &__link {
        @include flex($align:center);
        padding: 0 25px;
        color: $black;
        @include media('>tablet') {
            @include flex($flex:'', $direction:column);
        }
    }

    &__icon {
        width: auto;
        height: 35px;
        margin-right: 25px;
        @include media('>tablet') {
            margin-right: 0;
        }
    }
}