@use '../settings/colors' as *;


.popup {
    position: fixed;
    top: 100px;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    min-height: 200px;
    padding: 10px 20px;
    background-color: $white;
    border: solid 5px var(--main-color);
    transform: translate(-50%, 0);
    box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: opacity 1s;
    z-index: 10;

    &__icon {
        width: 50px;
        height: 50px;
    }
}