@use '../settings/colors' as *;
@use '../tools/display' as *;
@use '../tools/media-query' as *;


.popup {
    position: fixed;
    top: 100px;
    left: 50%;
    @include flex($direction:column, $align:center);
    width: 80vw;
    min-height: 200px;
    padding: 10px 20px;
    background-color: $white;
    border: solid 5px var(--main-color);
    transform: translate(-50%, 0);
    box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: opacity 1s;
    z-index: 10;
    @include media('>tablet') {
        width: 40vw;
    }

    &__icon {
        width: 50px;
        height: 50px;
    }
}