@use 'variables' as *;

.presentation {
    height: calc(100vh - 87px);
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--text {
            text-align: center;
            strong {
                font-weight: normal;
            }
        }
        &--photo {
            width: 150px;
            height: 150px;
            margin: 20px 0;
            border: solid 4px $main-color;
            border-radius: 50%;
        }
    }
}


@media (min-width: 600px) {
    .box {
        padding: 15px 20%;
    }
}