@use 'variables' as *;

.projects {
    height: calc(100vh - 87px);
    &--title {
        margin-bottom: 0;
        text-align: center;
        font-size: 1.8em;
    }
}

.project {
    position: relative;
    border-left: solid 5px $main-color;
    background: lightblue;
    overflow: hidden;
    &__image {
        width: 100%;
        height: calc(250px - 90px);
    }
    &__details {
        position: absolute;
        top: calc(250px - 90px);
        left: 0;
        right: 0;
        height: 250px;
        padding: 10px 0;
        background-color: $light-gray;
        transition: all 0.5s;
        &--title {
            margin: 0 0 10px 0;
            text-align: center;
        }
        &--type {
            margin: 10px 0;
            padding: 0 10px;
        }
        &--visible {
            top: 0;
        }
    }
    &__caracteristics {
        padding: 10px;
        border-top: solid 5px $second-color;
        &--description {
            margin-top: 0;
        }
        &--action {
            display: block;
            width: 120px;
            margin: 10px auto;
            color: $black;
        }
    }
}