@use '../tools/display' as *;


.progress-bar {
    @include flex($justify:space-between, $align:center);
    margin: 10px 30px 10px 0;

    &__bar {
        width: 90%;
        height: 15px;
    }

    &__percentage {
        margin: 0;
    }
}