@use 'sass:map';
@use '../settings/colors' as *;
@use '../settings/borders' as *;


.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;

    &__before {
        width: map.get($borders, 'xlarge');
        height: 25px;
        background-color: var(--second-color);
    }

    &__dot {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        border: map.get($borders, 'regular') solid var(--main-color);
        border-radius: 50%;
        background-color: $white;
    }

    &__after {
        width: 7px;
        height: calc(100% - 95px);
        min-height: 25px;
        background-color: var(--second-color);
    }
}