@use 'sass:map';
@use '../settings/colors' as *;
@use '../settings/borders' as *;
@use '../tools/display' as *;


.timeline {
    @include flex($direction:column, $align:center);
    align-self: stretch;

    &__before {
        width: map.get($borders, 'xlarge');
        height: 25px;
        background-color: var(--second-color);
    }

    &__dot {
        @include flex($justify:center, $align:center);
        width: 70px;
        height: 70px;
        border: map.get($borders, 'regular') solid var(--main-color);
        border-radius: 50%;
        background-color: $white;
    }

    &__after {
        width: 7px;
        height: calc(100% - 95px);
        min-height: 25px;
        background-color: var(--second-color);
    }
}