@use 'fonts' as *;

//////////////////////////////////
// ********** COLORS ********** //
//////////////////////////////////

$main-color: rgb(101, 179, 46);
$second-color: rgba(101, 179, 46, 0.25);

$white: rgb(255, 255, 255);
$black: rgb(51, 51, 51);
$light-gray: rgb(240, 240, 240);




/////////////////////////////////
// ********** FONTS ********** //
/////////////////////////////////

$main-font: 'Open Sans';