/* Regular font */
@font-face {
  font-family: "Open Sans";
  src: url("../../assets/fonts/opensans-regular/opensans-regular.eot");
  src: url("../../assets/fonts/opensans-regular/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/opensans-regular/opensans-regular.woff2") format("woff2"), url("../../assets/fonts/opensans-regular/opensans-regular.woff") format("woff"), url("../../assets/fonts/opensans-regular/opensans-regular.ttf") format("truetype"), url("../../assets/fonts/opensans-regular/opensans-regular.svg#opensans-regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Italic font */
@font-face {
  font-family: "Open Sans";
  src: url("../../assets/fonts/opensans-italic/opensans-italic.eot");
  src: url("../../assets/fonts/opensans-italic/opensans-italic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/opensans-italic/opensans-italic.woff2") format("woff2"), url("../../assets/fonts/opensans-italic/opensans-italic.woff") format("woff"), url("../../assets/fonts/opensans-italic/opensans-italic.ttf") format("truetype"), url("../../assets/fonts/opensans-italic/opensans-italic.svg#opensans-italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
/* Bold font */
@font-face {
  font-family: "Open Sans";
  src: url("../../assets/fonts/opensans-semibold/opensans-semibold.eot");
  src: url("../../assets/fonts/opensans-semibold/opensans-semibold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/opensans-semibold/opensans-semibold.woff2") format("woff2"), url("../../assets/fonts/opensans-semibold/opensans-semibold.woff") format("woff"), url("../../assets/fonts/opensans-semibold/opensans-semibold.ttf") format("truetype"), url("../../assets/fonts/opensans-semibold/opensans-semibold.svg#opensans-semibold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  --main-color: #65b32e;
  --second-color: rgba(101, 179, 46, 0.25);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../../assets/images/texture.webp");
  opacity: 0.7;
  z-index: -1;
}

body.no-webp {
  background-image: url("../../assets/images/texture.jpg");
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
}

.hide {
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  overflow: hidden !important;
}

.rotate180 {
  transform: rotate(180deg);
  transition: transform 0.3s;
}

@media (max-width: 992px) {
  .mobile-hide {
    display: none;
  }
}
.separator {
  display: block;
  width: 50%;
  height: 5px;
  margin: 0 auto;
  background-color: var(--main-color);
}

.separator--vertical {
  display: inline-block;
  width: 2px;
  height: 25px;
  margin: 0 2px -5px 2px;
  background-color: var(--main-color);
}

.title {
  width: 100%;
  margin: 50px 0;
  padding: 10px 0;
  background-color: var(--main-color);
  color: white;
  font-size: 1.5em;
  text-align: center;
}

.box {
  width: 90vw;
  max-width: 1400px;
  margin: 5vw auto;
  padding: 15px 15%;
  background-color: #f0f0f0;
  border-left: solid 7px var(--main-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.embed-box {
  position: relative;
  width: 75vw;
  padding: 20px;
  background-color: white;
  border: solid 1px var(--main-color);
  border-left-width: 5px;
  border-radius: 5px;
}

.embed-box-toggle {
  position: absolute;
  right: 5px;
  bottom: 5px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.embed-box-toggle svg {
  fill: var(--main-color);
}

.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 250px;
  height: 250px;
  margin: 15px;
}

.label {
  display: inline-block;
  margin-top: 5px;
  padding: 3px 10px;
  background-color: white;
  border: solid 2px var(--main-color);
  border-radius: 5px;
}
.label-toggle {
  cursor: pointer;
}

.button {
  display: inline-block;
  margin-top: 5px;
  padding: 3px 10px;
  background-color: white;
  border: solid 2px var(--main-color);
  border-radius: 5px;
  cursor: pointer;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

input.input--success {
  border: solid 2px #29d069 !important;
  background-image: url("../../assets/images/icons/correct.svg");
  background-size: 5%;
  background-position: 95% 50%;
  background-repeat: no-repeat;
}

input.input--error {
  border: solid 2px red !important;
  background-image: url("../../assets/images/icons/incorrect.svg");
  background-size: 5%;
  background-position: 95% 50%;
  background-repeat: no-repeat;
}

textarea.input--success {
  border: solid 2px #29d069 !important;
}

textarea.input--error {
  border: solid 2px red !important;
}

.visible {
  opacity: 1 !important;
  transition: all 1s;
}

@media (min-width: 600px) {
  .box {
    padding: 15px 20%;
  }
}
@media (min-width: 992px) {
  .box {
    padding: 15px 5%;
  }

  .embed-box {
    width: 80%;
  }

  .card__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
    max-width: 1400vw;
    margin: 5vw auto;
  }

  .card {
    margin: 5vw;
  }

  .input--success, .input--error {
    background-size: 5%;
    background-position: 98% 50%;
  }
}
.lightgreen-bg {
  background-color: #65992e;
}

.green-bg {
  background-color: #007400;
}

.lightblue-bg {
  background-color: #08b2e3;
}

.blue-bg {
  background-color: #1e3c71;
}

.brown-bg {
  background-color: #764248;
}

.orange-bg {
  background-color: #ed5d31;
}

.yellow-bg {
  background-color: #fdba35;
}

.purple-bg {
  background-color: #be82b9;
}

.progress-bar-top-0 {
  background: linear-gradient(to top, var(--main-color) 0%, var(--second-color) 100%);
}

.progress-bar-top-5 {
  background: linear-gradient(to top, var(--main-color) 5%, var(--second-color) 95%);
}

.progress-bar-top-10 {
  background: linear-gradient(to top, var(--main-color) 10%, var(--second-color) 90%);
}

.progress-bar-top-15 {
  background: linear-gradient(to top, var(--main-color) 15%, var(--second-color) 85%);
}

.progress-bar-top-20 {
  background: linear-gradient(to top, var(--main-color) 20%, var(--second-color) 80%);
}

.progress-bar-top-25 {
  background: linear-gradient(to top, var(--main-color) 25%, var(--second-color) 75%);
}

.progress-bar-top-30 {
  background: linear-gradient(to top, var(--main-color) 30%, var(--second-color) 70%);
}

.progress-bar-top-35 {
  background: linear-gradient(to top, var(--main-color) 35%, var(--second-color) 65%);
}

.progress-bar-top-40 {
  background: linear-gradient(to top, var(--main-color) 40%, var(--second-color) 60%);
}

.progress-bar-top-45 {
  background: linear-gradient(to top, var(--main-color) 45%, var(--second-color) 55%);
}

.progress-bar-top-50 {
  background: linear-gradient(to top, var(--main-color) 50%, var(--second-color) 50%);
}

.progress-bar-top-55 {
  background: linear-gradient(to top, var(--main-color) 55%, var(--second-color) 45%);
}

.progress-bar-top-60 {
  background: linear-gradient(to top, var(--main-color) 60%, var(--second-color) 40%);
}

.progress-bar-top-65 {
  background: linear-gradient(to top, var(--main-color) 65%, var(--second-color) 35%);
}

.progress-bar-top-70 {
  background: linear-gradient(to top, var(--main-color) 70%, var(--second-color) 30%);
}

.progress-bar-top-75 {
  background: linear-gradient(to top, var(--main-color) 75%, var(--second-color) 25%);
}

.progress-bar-top-80 {
  background: linear-gradient(to top, var(--main-color) 80%, var(--second-color) 20%);
}

.progress-bar-top-85 {
  background: linear-gradient(to top, var(--main-color) 85%, var(--second-color) 15%);
}

.progress-bar-top-90 {
  background: linear-gradient(to top, var(--main-color) 90%, var(--second-color) 10%);
}

.progress-bar-top-95 {
  background: linear-gradient(to top, var(--main-color) 95%, var(--second-color) 5%);
}

.progress-bar-top-100 {
  background: linear-gradient(to top, var(--main-color) 100%, var(--second-color) 0%);
}

.progress-bar-right-0 {
  background: linear-gradient(to right, var(--main-color) 0%, var(--second-color) 100%);
}

.progress-bar-right-5 {
  background: linear-gradient(to right, var(--main-color) 5%, var(--second-color) 95%);
}

.progress-bar-right-10 {
  background: linear-gradient(to right, var(--main-color) 10%, var(--second-color) 90%);
}

.progress-bar-right-15 {
  background: linear-gradient(to right, var(--main-color) 15%, var(--second-color) 85%);
}

.progress-bar-right-20 {
  background: linear-gradient(to right, var(--main-color) 20%, var(--second-color) 80%);
}

.progress-bar-right-25 {
  background: linear-gradient(to right, var(--main-color) 25%, var(--second-color) 75%);
}

.progress-bar-right-30 {
  background: linear-gradient(to right, var(--main-color) 30%, var(--second-color) 70%);
}

.progress-bar-right-35 {
  background: linear-gradient(to right, var(--main-color) 35%, var(--second-color) 65%);
}

.progress-bar-right-40 {
  background: linear-gradient(to right, var(--main-color) 40%, var(--second-color) 60%);
}

.progress-bar-right-45 {
  background: linear-gradient(to right, var(--main-color) 45%, var(--second-color) 55%);
}

.progress-bar-right-50 {
  background: linear-gradient(to right, var(--main-color) 50%, var(--second-color) 50%);
}

.progress-bar-right-55 {
  background: linear-gradient(to right, var(--main-color) 55%, var(--second-color) 45%);
}

.progress-bar-right-60 {
  background: linear-gradient(to right, var(--main-color) 60%, var(--second-color) 40%);
}

.progress-bar-right-65 {
  background: linear-gradient(to right, var(--main-color) 65%, var(--second-color) 35%);
}

.progress-bar-right-70 {
  background: linear-gradient(to right, var(--main-color) 70%, var(--second-color) 30%);
}

.progress-bar-right-75 {
  background: linear-gradient(to right, var(--main-color) 75%, var(--second-color) 25%);
}

.progress-bar-right-80 {
  background: linear-gradient(to right, var(--main-color) 80%, var(--second-color) 20%);
}

.progress-bar-right-85 {
  background: linear-gradient(to right, var(--main-color) 85%, var(--second-color) 15%);
}

.progress-bar-right-90 {
  background: linear-gradient(to right, var(--main-color) 90%, var(--second-color) 10%);
}

.progress-bar-right-95 {
  background: linear-gradient(to right, var(--main-color) 95%, var(--second-color) 5%);
}

.progress-bar-right-100 {
  background: linear-gradient(to right, var(--main-color) 100%, var(--second-color) 0%);
}

.progress-bar-bottom-0 {
  background: linear-gradient(to bottom, var(--main-color) 0%, var(--second-color) 100%);
}

.progress-bar-bottom-5 {
  background: linear-gradient(to bottom, var(--main-color) 5%, var(--second-color) 95%);
}

.progress-bar-bottom-10 {
  background: linear-gradient(to bottom, var(--main-color) 10%, var(--second-color) 90%);
}

.progress-bar-bottom-15 {
  background: linear-gradient(to bottom, var(--main-color) 15%, var(--second-color) 85%);
}

.progress-bar-bottom-20 {
  background: linear-gradient(to bottom, var(--main-color) 20%, var(--second-color) 80%);
}

.progress-bar-bottom-25 {
  background: linear-gradient(to bottom, var(--main-color) 25%, var(--second-color) 75%);
}

.progress-bar-bottom-30 {
  background: linear-gradient(to bottom, var(--main-color) 30%, var(--second-color) 70%);
}

.progress-bar-bottom-35 {
  background: linear-gradient(to bottom, var(--main-color) 35%, var(--second-color) 65%);
}

.progress-bar-bottom-40 {
  background: linear-gradient(to bottom, var(--main-color) 40%, var(--second-color) 60%);
}

.progress-bar-bottom-45 {
  background: linear-gradient(to bottom, var(--main-color) 45%, var(--second-color) 55%);
}

.progress-bar-bottom-50 {
  background: linear-gradient(to bottom, var(--main-color) 50%, var(--second-color) 50%);
}

.progress-bar-bottom-55 {
  background: linear-gradient(to bottom, var(--main-color) 55%, var(--second-color) 45%);
}

.progress-bar-bottom-60 {
  background: linear-gradient(to bottom, var(--main-color) 60%, var(--second-color) 40%);
}

.progress-bar-bottom-65 {
  background: linear-gradient(to bottom, var(--main-color) 65%, var(--second-color) 35%);
}

.progress-bar-bottom-70 {
  background: linear-gradient(to bottom, var(--main-color) 70%, var(--second-color) 30%);
}

.progress-bar-bottom-75 {
  background: linear-gradient(to bottom, var(--main-color) 75%, var(--second-color) 25%);
}

.progress-bar-bottom-80 {
  background: linear-gradient(to bottom, var(--main-color) 80%, var(--second-color) 20%);
}

.progress-bar-bottom-85 {
  background: linear-gradient(to bottom, var(--main-color) 85%, var(--second-color) 15%);
}

.progress-bar-bottom-90 {
  background: linear-gradient(to bottom, var(--main-color) 90%, var(--second-color) 10%);
}

.progress-bar-bottom-95 {
  background: linear-gradient(to bottom, var(--main-color) 95%, var(--second-color) 5%);
}

.progress-bar-bottom-100 {
  background: linear-gradient(to bottom, var(--main-color) 100%, var(--second-color) 0%);
}

.progress-bar-left-0 {
  background: linear-gradient(to left, var(--main-color) 0%, var(--second-color) 100%);
}

.progress-bar-left-5 {
  background: linear-gradient(to left, var(--main-color) 5%, var(--second-color) 95%);
}

.progress-bar-left-10 {
  background: linear-gradient(to left, var(--main-color) 10%, var(--second-color) 90%);
}

.progress-bar-left-15 {
  background: linear-gradient(to left, var(--main-color) 15%, var(--second-color) 85%);
}

.progress-bar-left-20 {
  background: linear-gradient(to left, var(--main-color) 20%, var(--second-color) 80%);
}

.progress-bar-left-25 {
  background: linear-gradient(to left, var(--main-color) 25%, var(--second-color) 75%);
}

.progress-bar-left-30 {
  background: linear-gradient(to left, var(--main-color) 30%, var(--second-color) 70%);
}

.progress-bar-left-35 {
  background: linear-gradient(to left, var(--main-color) 35%, var(--second-color) 65%);
}

.progress-bar-left-40 {
  background: linear-gradient(to left, var(--main-color) 40%, var(--second-color) 60%);
}

.progress-bar-left-45 {
  background: linear-gradient(to left, var(--main-color) 45%, var(--second-color) 55%);
}

.progress-bar-left-50 {
  background: linear-gradient(to left, var(--main-color) 50%, var(--second-color) 50%);
}

.progress-bar-left-55 {
  background: linear-gradient(to left, var(--main-color) 55%, var(--second-color) 45%);
}

.progress-bar-left-60 {
  background: linear-gradient(to left, var(--main-color) 60%, var(--second-color) 40%);
}

.progress-bar-left-65 {
  background: linear-gradient(to left, var(--main-color) 65%, var(--second-color) 35%);
}

.progress-bar-left-70 {
  background: linear-gradient(to left, var(--main-color) 70%, var(--second-color) 30%);
}

.progress-bar-left-75 {
  background: linear-gradient(to left, var(--main-color) 75%, var(--second-color) 25%);
}

.progress-bar-left-80 {
  background: linear-gradient(to left, var(--main-color) 80%, var(--second-color) 20%);
}

.progress-bar-left-85 {
  background: linear-gradient(to left, var(--main-color) 85%, var(--second-color) 15%);
}

.progress-bar-left-90 {
  background: linear-gradient(to left, var(--main-color) 90%, var(--second-color) 10%);
}

.progress-bar-left-95 {
  background: linear-gradient(to left, var(--main-color) 95%, var(--second-color) 5%);
}

.progress-bar-left-100 {
  background: linear-gradient(to left, var(--main-color) 100%, var(--second-color) 0%);
}

.popup {
  position: fixed;
  top: 100px;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  padding: 10px 20px;
  background-color: white;
  border: solid 5px var(--main-color);
  transform: translate(-50%, 0);
  box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: opacity 1s;
  z-index: 10;
}
.popup--icon {
  width: 50px;
  height: 50px;
}
.popup--text {
  text-align: center;
}

header {
  position: relative;
  height: 87px;
}

.header {
  position: fixed;
  top: 7px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 100%;
  height: 80px;
  z-index: 5;
}
.header__left {
  position: relative;
  height: 80px;
  background-color: #f0f0f0;
}
.header__left--logo {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  display: block;
  height: 100%;
  z-index: 2;
}
.header__left--logo img {
  width: 100%;
  height: 100%;
}
.header__right {
  position: absolute;
  top: 80px;
  width: 100%;
  margin: 0;
  padding: 50px 0 0 0;
  background-color: #f0f0f0;
  z-index: 1;
}
.header::before {
  content: "";
  position: absolute;
  top: -7px;
  display: inline-block;
  width: 100%;
  height: 7px;
  background-color: var(--main-color);
}

.menu-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 60px;
  padding: 40px 0 0 0;
  font-size: 0.9em;
  border: none;
  background: url("../../assets/images/icons/menu.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.menu-item {
  padding: 10px 0;
  border-left: solid 5px transparent;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  list-style-type: none;
}
.menu-item a,
.menu-item a:hover,
.menu-item a:focus,
.menu-item a:active,
.menu-item a:visited {
  display: flex;
  align-items: center;
  padding: 0 25px;
  color: #333333;
}
.menu-item a img,
.menu-item a:hover img,
.menu-item a:focus img,
.menu-item a:active img,
.menu-item a:visited img {
  width: auto;
  height: 35px;
  margin-right: 25px;
}
.menu-item:hover {
  background-color: var(--second-color);
}
.menu-item--active {
  border-color: var(--main-color);
}

@media (min-width: 992px) {
  .header {
    flex-direction: row;
  }
  .header__left {
    width: 20%;
  }
  .header__right {
    position: relative;
    top: 0;
    display: flex;
    justify-content: flex-end;
    width: 80%;
    padding-top: 0;
  }

  .menu-toggle {
    display: none;
  }

  .menu-item {
    border-bottom: solid 5px transparent;
    border-left: none;
  }
  .menu-item a,
.menu-item a:hover,
.menu-item a:focus,
.menu-item a:active,
.menu-item a:visited {
    flex-direction: column;
  }
  .menu-item a img,
.menu-item a:hover img,
.menu-item a:focus img,
.menu-item a:active img,
.menu-item a:visited img {
    margin-right: 0;
  }
  .menu-item--active {
    border-color: var(--main-color);
  }
}
.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 87px);
  background-image: url("../../assets/images/code_background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% 50%;
}
.banner__content {
  position: relative;
  width: 90vw;
  max-width: 360px;
  height: 200px;
}
.banner__content .banner__title {
  position: absolute;
  top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100% - 5px);
  background-color: #f0f0f0;
}
.banner__content .banner__title::before {
  content: "";
  position: absolute;
  top: -5px;
  display: inline-block;
  width: 100%;
  height: 5px;
  background-color: var(--main-color);
}

.no-webp .banner {
  background-image: url("../../assets/images/code_background.jpg");
}

.banner__title--name {
  font-size: 1.5em;
  font-weight: bold;
}
.banner__title--content {
  font-size: 1.7em;
  font-weight: bold;
  text-align: center;
}
.banner__title--link {
  margin: 20px;
  color: #333333;
}

@media (min-width: 992px) {
  .banner__content {
    max-width: 600px;
    height: 340px;
  }
  .banner__content .banner__title--name {
    margin-bottom: 20px;
    font-size: 3em;
  }
  .banner__content .banner__title--content {
    margin-top: 20px;
    font-size: 2.5em;
  }
}
.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 87px);
}
.presentation__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.presentation__box--text {
  text-align: center;
}
.presentation__box--text strong {
  font-weight: normal;
}
.presentation__box--photo {
  width: 150px;
  height: 150px;
  margin: 20px 0;
  border: solid 4px var(--main-color);
  border-radius: 50%;
}
.presentation__box--photo source, .presentation__box--photo img {
  width: 100%;
  border-radius: 50%;
}

@media (min-width: 992px) {
  .presentation__box {
    flex-direction: row;
    justify-content: space-between;
  }
  .presentation__box--text {
    width: 350px;
  }
}
.experiences {
  min-height: calc(100vh - 87px);
}
.experiences__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.experiences__box--title {
  margin-bottom: 0;
  text-align: center;
  font-size: 1.8em;
}
.experiences__box--date {
  margin-top: 0;
  text-align: center;
  font-size: 1.2em;
}
.experiences__box--description {
  text-align: center;
}

.experience {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.experience__date--before {
  width: 7px;
  height: 25px;
  background-color: var(--second-color);
}
.experience__date--after {
  width: 7px;
  height: calc(100% - 95px);
  background-color: var(--second-color);
}
.experience__date {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}
.experience__date--before, .experience__date--after {
  width: 7px;
  height: 25px;
  background-color: var(--second-color);
}
.experience__date--item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: solid 3px var(--second-color);
  border-radius: 50%;
  background-color: white;
}
.experience__title {
  margin: 0;
  font-size: 1.1em;
}
.experience__caracteristics {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.experience__caracteristics--duration, .experience__caracteristics--location {
  margin: 0;
  font-size: 0.8em;
}
.experience__caracteristics--duration img, .experience__caracteristics--location img {
  width: 20px;
  height: auto;
}
.experience__image {
  width: 75px;
  height: auto;
  max-height: 50px;
}
.experience__details--title {
  margin: 20px 0 0 0;
  font-size: 0.9em;
}
.experience__details--content {
  margin: 0 0 0 15px;
  font-size: 0.8em;
}

@media (min-width: 992px) {
  .experiences__box {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .experiences__box > div:first-child {
    align-self: start;
    width: 30%;
  }
  .experiences__box > div:last-child {
    width: 60%;
  }

  .experience {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 120px;
  }
  .experience__date--item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: solid 3px var(--main-color);
    border-radius: 50%;
    background-color: white;
  }
  .experience__date--after {
    height: calc(100% - 95px);
  }
  .experience__caracteristics {
    width: 80%;
  }
  .experience__details {
    width: 80%;
  }

  .experience--empty {
    align-items: center;
  }

  .embed-box {
    margin-left: auto;
  }
}
.skills {
  min-height: calc(100vh - 87px);
}
.skills__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills__box--title {
  margin-bottom: 0;
  text-align: center;
  font-size: 1.8em;
}
.skills__box--list {
  width: 75vw;
  margin-bottom: 16px;
}

.skill__title {
  margin: 0;
  font-size: 1.1em;
}
.skill__level {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.skill__level--bar {
  width: 80%;
  height: 15px;
}
.skill__level--percentage {
  margin: 0;
}
.skill__details--title {
  margin: 20px 0 0 0;
  font-size: 0.9em;
}
.skill__details--content {
  margin: 0 0 0 15px;
  font-size: 0.8em;
}

@media (min-width: 992px) {
  .skills__box--list {
    width: 30%;
    border-right: solid 5px var(--second-color);
  }

  .skill {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
  }
  .skill .embed-box {
    width: 60%;
  }
}
.projects {
  min-height: calc(100vh - 87px);
}
.projects--title {
  margin-bottom: 0;
  text-align: center;
  font-size: 1.8em;
}

.project {
  position: relative;
  border-left: solid 5px var(--main-color);
  background: lightblue;
  overflow: hidden;
}
.project__image {
  width: 100%;
  height: calc(250px - 90px);
}
.project__details {
  position: absolute;
  top: calc(250px - 90px);
  left: 0;
  right: 0;
  height: 250px;
  padding: 10px 0;
  background-color: #f0f0f0;
  transition: all 0.5s;
}
.project__details--title {
  margin: 0 0 10px 0;
  text-align: center;
}
.project__details--type {
  margin: 10px 0;
  padding: 0 10px;
}
.project__details--visible {
  top: 0;
}
.project__caracteristics {
  padding: 10px;
  border-top: solid 5px var(--second-color);
}
.project__caracteristics--description {
  margin-top: 0;
}
.project__caracteristics--action {
  display: block;
  width: 120px;
  margin: 10px auto;
  color: #333333;
}

.contact {
  min-height: calc(100vh - 87px);
}
.contact__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__box div {
  width: 100%;
}
.contact__field {
  position: relative;
  width: 100%;
  min-height: 55px;
  margin: 20px auto;
}
.contact__field--label {
  position: absolute;
  top: 0;
  left: 7px;
  z-index: 1;
  transition: all 0.3s;
}
.contact__field--label--visible {
  top: -25px;
  transition: all 0.3s;
}
.contact__field--input {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 2px 10px;
  border: solid 1px #c8c8c8;
  border-radius: 0.5rem;
  box-shadow: none;
  z-index: 2;
}
.contact__field--textarea {
  position: relative;
  width: 100%;
  height: 120px;
  padding: 5px 10px;
  border: solid 1px #c8c8c8;
  border-radius: 0.5rem;
  z-index: 2;
  resize: none;
}
.contact__checkbox {
  display: flex;
}
.contact__checkbox--label {
  margin-left: 10px;
  font-size: 0.7em;
}
.contact__submit {
  display: block;
  width: 120px;
  margin: 10px auto;
  color: #333333;
  cursor: pointer;
}
.contact__infos {
  margin-top: 45px;
}
.contact__logos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 190px;
}
.contact__logos--item {
  display: block;
  width: 56px;
  height: 56px;
  border: solid 3px var(--main-color);
  border-radius: 50%;
}
.contact__logos--item svg {
  width: 50px;
  height: 50px;
  fill: var(--main-color);
}
.contact__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  padding: 5px 15px;
  color: #333333;
  text-align: center;
}
.contact__action img {
  width: 20px;
  height: auto;
}
.contact__text {
  text-align: center;
}
.contact__text--item {
  display: block;
  margin: 10px 0;
  color: #333333;
  text-decoration: none;
}

@media (min-width: 992px) {
  .contact__box {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .contact__box > form {
    width: 45%;
  }
  .contact__box .contact__infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin: 0 -50px 0 0;
    padding-left: 50px;
    border-left: solid 5px var(--second-color);
  }
  .contact__logos {
    flex-direction: row;
    justify-content: space-around;
    width: 75% !important;
  }
}
footer {
  min-height: 90px;
  margin-top: 20px;
  background-color: #f0f0f0;
  box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, 0.125);
}

.footer {
  width: 100%;
  padding: 5px 10px;
}
.footer__copyrights {
  font-size: 0.8em;
  text-align: center;
}
.footer__logo {
  display: none;
}
.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer__links--item {
  color: #333333;
  font-size: 0.8em;
}
.footer__version {
  margin: 0 auto 5px auto;
  color: var(--main-color);
  font-size: 0.65em;
  text-align: right;
}

@media (min-width: 992px) {
  .footer {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer__copyrights, .footer__links {
    max-width: 120px;
  }
  .footer__logo {
    display: block;
  }
  .footer__logo img {
    width: 60px;
    height: auto;
  }
  .footer__version {
    position: absolute;
    bottom: 5px;
    right: 10px;
  }
}
.cookies-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 15px;
  color: white;
  background-color: var(--main-color);
  text-align: center;
  box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, 0.125);
  z-index: 10;
}
.cookies-banner__text {
  margin-top: 0;
}
.cookies-banner__button {
  padding: 5px 20px;
  color: #333333;
  background-color: #f0f0f0;
  border: solid 1px #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
}

.legals {
  min-height: calc(100vh - 87px);
}
.legals__box--title {
  margin-bottom: 0;
  text-align: left;
  font-size: 1.6em;
}
.legals__box a {
  color: #333333;
}
.legals__box--list li {
  margin: 7px 0;
  text-decoration: underline;
}

.settings-tab {
  position: fixed;
  bottom: 0;
  left: -350px;
  display: flex;
  align-items: flex-end;
  z-index: 10;
  transition: all 0.5s;
}
.settings-tab__toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  border-top-right-radius: 5px;
  cursor: pointer;
}
.settings-tab__toggler img {
  width: 20px;
  height: auto;
}
.settings-tab__content {
  width: 350px;
  padding: 10px 30px;
  background-color: white;
  border: solid 1px #c8c8c8;
  border-top-right-radius: 5px;
}
.settings-tab__title {
  margin: 0;
  text-align: center;
}
.settings-tab__colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}
.settings-tab__colors--item {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.settings-tab--open {
  left: 0;
  transition: all 0.5s;
}

@media (min-width: 992px) {
  .settings-tab {
    top: 50%;
    align-items: center;
    transform: translate(0, -50%);
  }
  .settings-tab__toggler {
    height: 60px;
    border-bottom-right-radius: 5px;
  }
  .settings-tab__toggler img {
    width: 25px;
  }
  .settings-tab__content {
    border-bottom-right-radius: 5px;
  }
}